XML programs/XMLPrograms/program11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="student">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sid" type="xs:int"></xs:element>
				<xs:element name="sname">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="10"></xs:minLength>
							<xs:maxLength value="20"></xs:maxLength>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gender" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>