XML programs/XMLPrograms/program14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="student">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sid" type="xs:int"></xs:element>
				<xs:element name="sname">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Surya"></xs:enumeration>
							<xs:enumeration value="KLU"></xs:enumeration>
							<xs:enumeration value="KLEF"></xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>