XML programs/XMLPrograms/program3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="employee">
		<xs:complexType>
			<xs:choice>
				<xs:element name="id" type="xs:int"></xs:element>
				<xs:element name="name" type="xs:string"></xs:element>
				<xs:element name="gender" type="xs:string"></xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>