XML programs/XMLPrograms/program9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="student">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sid" type="xs:int"></xs:element>
				<xs:element name="sname" type="xs:string"></xs:element>
				<xs:element name="syear">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:totalDigits value="3"></xs:totalDigits>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>